  <app-loading-overlay></app-loading-overlay>
  <app-header></app-header>
  <main>
      <div class="container-fluid py-3 h-100">
        @if (isNoRecords) {
          <div class="d-flex flex-column justify-content-center align-items-center h-100 pt-5">
            <h3 class="mb-3">No projects found</h3>
            <a class="btn btn-primary" (click)="creatProject()">Add Project</a>
          </div>
        }
        @if (!isNoRecords) {
          <div class="d-flex flex-column h-100 overflow-hidden">
            <input type="search" class="form-control my-2" placeholder="Search projects..." (input)="onSearch($any($event.target).value)"/>
            <table class="table table-striped overflow-auto">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Capital (GHS)</th>
                  <th scope="col" class="d-none d-md-table-cell">Start</th>
                  <th scope="col" class="d-none d-md-table-cell">End</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                @for (project of projects$ | async; track $index) {
                  <tr>
                    <th scope="row">{{ $index + 1 }}</th>
                    <td><a href="javascript:void(0)" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" (click)="handleEdit(project)">{{project.projectName}}</a></td>
                    <td>{{ project.capitalInvestment | number }}</td>
                    <td class="d-none d-md-table-cell">{{ project.startDate ? (project.startDate | date:'dd MMM, YYYY' ) : 'N/A'}}</td>
                    <td class="d-none d-md-table-cell">{{ project.endDate ? (project.endDate | date:'dd MMM, YYYY' ) : 'N/A'}}</td>
                    <td class="text-end">
                        <div class="d-inline-flex gap-1">
                            <button type="button" title="Add expense & Revenue items" class="btn btn-sm btn-glass-dark button rounded-circle p-1 btn-ellipses d-inline-flex" (click)="createExpenseRevenue(project)">
                                <i class="las la-plus-circle fs-5"></i>
                            </button>
                            <button type="button" title="View summary" class="btn btn-sm btn-glass-dark button rounded-circle p-1 btn-ellipses d-inline-flex" (click)="handleSummary(project)">
                                <i class="las la-file-alt fs-5"></i>
                            </button>
                            <button type="button" title="Delete item" class="btn btn-sm btn-glass-dark button rounded-circle p-1 btn-ellipses d-inline-flex" (click)="deleteItem(project)">
                                <i class="las la-trash fs-5"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                }
                <tr *ngIf="isEmpty && !isNoRecords">
                  <td colspan="6" class="text-center">
                    <span class="fw-bold">Item not found</span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <div>
                <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadProjects()">
                <option [ngValue]="5">5 items</option>
                <option [ngValue]="10">10 items</option>
                <option [ngValue]="15">15 items</option>
                <option [ngValue]="20">20 items</option>
                <option [ngValue]="50">50 items</option>
              </select>
              </div>

              <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="onPageChange(page)"
              >
              </ngb-pagination>
            </div>
          </div>
        }
      </div>
  </main>
